* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 60px;
}

.common-btn {
    background: #1D4ED8;
    color: #FFFFFF;
    font-weight: bold;
    padding: 16px 30px;
    border-radius: 8px;
    border: none;
}

header {
    margin: 28px auto !important;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 60px;
}

.logo-container {
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.logo-container h3 {
    font-weight: bold;
    font-size: 20px;
    color: #0D1B2A;
    font-family: "Arimo", sans-serif;
}

nav ul {
    display: flex;
    gap: 24px;
    list-style: none;
    color: #575757;
    cursor: pointer;
    font-weight: normal;
}

/* ----------------------------Banner section Css Start --------------------- */

.banner-section {
    padding: 9rem 9rem 4rem 9rem;
    background-image:
        radial-gradient(circle, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.85) 100%),
        url('../assets/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h3 {
    font-weight: bold;
    font-size: 80px;
    color: #FFFFFF;
}

.banner p {
    margin-top: 16px;
    color: #f9f7f7e6;
    font-size: 22px;
}

.banner button {
    margin-top: 280px;
}
/* ----------------------------Banner section Css END --------------------- */




/* --------------------------Speaker Section CSS   Start-----------------------------*/
.speakers-details-boxs{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 32px ;

}

.speakers-single-box{
    background: #e6e8eb54;
    border-radius: 12px;
}
.speakers-single-box h4{
    margin:24px 0px 8px 24px;
    color: #2563EB;
    font-weight: 600;
    font-size: 12px;
}
.speakers-single-box h2{
    margin:0px 0px 8px 24px;
    color: #0D1B2A;
    font-weight: 700;
    font-size: 20px;
}
.speakers-single-box p{
    margin:0px 0px 24px 24px;
    color: #575757;
    font-weight: normal;
    font-size: 14px;
}
.speakers-single-box img{
    border-radius: 12px;
}

/* --------------------------Speaker Section CSS Start --------------------------- */


/* -------------------------------Pricing Cart CSS Start------------------------------ */
.pricing-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.standard-cart p , .team-cart p , .pro-cart p{
    font-size: 13px;
    color: #888888;
}

.standard-cart h3 , .team-cart h3 , .pro-cart h3{
    color: #0D1B2A;
    font-weight: bold;
    font-size: 44px;
    margin: 8px 0px 4px 0px;
}
.standard-cart hr , .team-cart hr , .pro-cart hr{
    margin: 20px 0px;
    border: 0;
    border-top: 1px solid #E5E7EB;
}
.pro-cart hr{
    margin: 20px 0px;
    border: 0;
    border-top: 1px solid #FFFFFF1A;
}

.standard-cart , .pro-cart , .team-cart{
    padding: 32px;
    width: 100%;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
}

.standard-cart li::marker , .team-cart li::marker , .pro-cart li::marker{
    color: #2563EB;
    font-size: 14px;
    font-weight: bold;
}
.standard-cart li , .team-cart li , .pro-cart li{
    margin-left: 12px;
    margin-bottom: 16px;
    color: #333333;
    font-size: 14px;
}
.pro-cart {
    background-color: #0D1B2A;
}
.pro-cart li {
    color: #FFFFFFCC;
}


/* -------------------------------Pricing Cart CSS End----------------------------- */
